<div class="mod mod-recent-entry">
	<div class="inner">
		<div class="hd">
			<h4>Back Number</h4>
		</div>
		<div class="bd">
			<ul class="list-none">
			{% for post in site.posts limit:3 %}
			<li>
			<div class="group">
				<a href="{{ post.url }}" title="{{ post.title }}">
				<time class="date-pub milli" title="{{ post.date | date_to_xmlschema }}">
					<span class="year">{{ post.date | date: '%y' }}</span>
					<span class="month">{{ post.date | date: '%m' }}</span>
					<span class="day">{{ post.date | date: '%d' }}</span>
				</time>
				<h6 class="post-title">{{ post.title }}</h6>
				</a>
				</div><!-- group -->
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="ft">
			<p><a href="/archive/" class="archive">Back Number</a></p>
		</div>
	</div><!-- inner -->
</div><!-- mod -->