<div class="mod mod-social">
	<div class="inner">
		<div class="bd">
			<ul class="list-linear">
				<li>
					<!-- facebook like -->
					<div class="fb-like" data-href="http://publicdraft.studiomohawk.com/" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
				</li>
				<li>
					<!-- twitter -->
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="cssradar" data-lang="en">Tweet</a>
				</li>
				<li>
					<!-- g+ -->
					<div class="g-plusone" data-size="medium"></div>
				</li>
				<li>
					<!-- twitter -->
					<a href="https://twitter.com/cssradar" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @cssradar</a>
				</li>
			</ul>
		</div>
	</div><!-- inner -->
</div><!-- mod -->