/* ==========================================================================
   default: http://j.mp/V04ROj
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	margin: 0 auto;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	background: 1px solid #4d4d4c;
	margin: 2em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, #ccc, #4d4d4c, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #4d4d4c, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #4d4d4c, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #4d4d4c, #ccc);
	background-image: linear-gradient(left, #ccc, #4d4d4c, #ccc);
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.list-square {
	list-style: square;
	padding-left: 0;
}
.list-none {
	list-style: none;
	padding-left: 0;
}
