/* ==========================================================================
   default: http://j.mp/V04ROj
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	margin: 0 auto;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.list-square {
	list-style: square;
	padding-left: 0;
}
