/*
## font-family

See: http://cssfontstack.com/
		 http://www.awayback.com/revised-font-stack/

Usage: .monospace();
*/

georgia() {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
helvetica() {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
lucida-grande() {
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}
monospace() {
	font-family: "Ubuntu Mono", Monaco, Consolas, "Lucida Console", monospace, monospace;
}
verdana() {
	font-family: Verdana, Geneva, sans-serif;
}
microsoft() {
	font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}
yahoo-us() {
	font-family: Arial, sans-serif;
}
facebook() {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
yahoo-jp() {
	font-family: "MS PGothic", "Osaka", Arial, sans-serif;
}
apple-jp() {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "MS PGothic", "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
}
ameblo() {
	font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", Arial, Helvetica;
}
cssradar() {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "MS PGothic", Osaka, Sans-Serif;
}

 // @font-face
@font-face {
	font-family: 'Outage';
	src: url('/asset/font/Outage.eot?#iefix') format('embedded-opentype'), 
			 url('/asset/font/Outage.woff') format('woff'), 
			 url('/asset/font/Outage.ttf')  format('truetype'),
			 url('/asset/font/Outage.svg#svgFontName') format('svg');
}
