a,
a:link,
a:visited {
	text-decoration: none;
	color: #1d1f21;
}
a:hover {
	color: #000;
}
a:active {
	outline: none;
}

.post-title a:hover {
	border-bottom: 1px solid #CC092F;
	color: #D12D41;
}

.page-post .content {
	a,
	a:link,
	a:visited {
		border-bottom: 1px dotted #1d1f21;
		text-decoration: none;
		color: #1d1f21;
	}
	a:hover {
		border-bottom: 1px solid #CC092F;
		color: #a60726;
	}
}

.the-footer {
	a,
	a:link,
	a:visited {
		border-bottom: 1px dotted #fafafa;
		text-decoration: none;
		color: #fafafa;
	}
	a:hover {
		border-bottom: 0 none;
		color: #fff;
	}
// the-footer 
}
.has-icon,
.has-icon:link,
.has-icon:visited {
	border-bottom: 0 none !important;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.has-icon:hover {
	color: #a60726 !important;
}
