// ==========================================================================
// settings
// ==========================================================================

// grid
column-width = 60px
gutter-width = 30px
columns      = 10

// text-color
text-dark  = #1d1f21;
text-fade  = #545a60;
text-light = #fafafa;
text-red   = #CC092F;

// texture
texture-light = t-cleantexture;
texture-dark  = t-3pxtile;

// color
background     = #ffffff;
foreground     = #4d4d4c;
highlight      = #d6d6d6;
highlight-fade = #efefef;
red            = #c82829;
orange         = #f5871f;
yellow         = #eab700;
green          = #b5bd68;
aqua           = #3e999f;
blue           = #4271ae;
purple         = #8959a8;
