// Mixins
rem(sizeValue) {
  font-size: (sizeValue * 10) px;
	font-size: sizeValue rem;
}


html {
	font-size: 62.5%;
}
body {
	rem(1.6);
	line-height: 2;
	cssradar();
}
.logo {
	rem(4.8);
}
.logo-css:after {
	display: inline-block;
	content: '©';
	rem(7.2)
	position: relative;
	top: 10px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4
h5,
.h5
h6,
.h6 {
	margin-top: 0;
	margin-bottom: 32px;
	margin-bottom: 3.2rem;
	font-weight: bold;
	-moz-font-feature-settings: "liga=1, kern=1";
	-ms-font-feature-settings: "liga" 1,"kern" 1;
	text-rendering: optimizeLegibility;
}
p,
ul,
ol,
dl,
blockquote,
.the-article img {
	margin-top: 0;
	margin-bottom: 32px;
	margin-bottom: 3.2rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
h1,
.h1 {
	rem(3.6);
	line-height: 1.5;
}
h2,
.h2 {
	rem(3.2)
	line-height: 1;
}
h3,
.h3 {
	rem(2.4)
	line-height: 1.5;
}
small,
.small {
	rem(1.43);
	line-height: 2.25;
}
pre,
code { -webkit-font-smoothing: subpixel-antialiased }
pre {
  white-space: pre;
  white-space: pre-wrap;
	word-wrap: break-word;
}
blockquote {
  border-left: 0.5rem solid rgba(21, 25, 25, 0.8);
  padding-left: 1rem;
  margin-left: -1.5rem;
  margin-right: 0;
}
@media only screen and (min-width: 768px) { 
	/* 768 =================================================== */
	body {
		rem(2.0);
		line-height: 1.8;
	}
	.logo {
		rem(7.2);
		line-height: normal;
	}
	.logo-css:after {
		rem(14.4)
		position: relative;
		top: 28px;
	}
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4
	h5,
	.h5
	h6,
	.h6,
	p,
	ul,
	ol,
	dl,
	blockquote,
	.the-article img {
  	margin-bottom: 36px;
  	margin-bottom: 3.6rem;
	}
	h1,
	.h1 {
		rem(3.6);
  	line-height: 1.5;
	}
	h2,
	.h2 {
		rem(3.2)
		line-height: 1;
	}
	h3,
	.h3 {
		rem(2.4)
		line-height: 1.5;
	}
	small,
	.small {
		rem(1.43);
  	line-height: 2.25;
	}
}
@media only screen and (min-width: 992px) { 
	/* 992 =================================================== */
	body {
		rem(2.4);
		line-height: 2; /* 48px */
	}
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4
	h5,
	.h5
	h6,
	.h6 {
		margin-bottom: 48px;
		margin-bottom: 4.8rem;
		font-weight: bold;
	}
	p,
	ul,
	ol,
	dl,
	blockquote,
	.the-article img {
		margin-bottom: 48px;
		margin-bottom: 4.8rem;
	}
	h1,
	.h1 {
		rem(4.8);
		line-height: 1.5;
	}
	h2,
	.h2 {
		rem(3.6)
		line-height: 1;
	}
	h3,
	.h3 {
		rem(2.4)
		line-height: 1.5;
	}
	small,
	.small {
		rem(1.6);
		line-height: 2.25;
	}
}
