---
layout: nil
title: Ask Me Anything via E-mail
desctiption: CSS Radar、斉藤祐也への質問はEmailにて受け付けています。
---
{% include system_head.html %}
<body class="{{ page.layout }}">
	<div id="page">
		{% include header.html %}
		<div id="main" role="main">
			<article class="the-article">
			<div class="article-inner">
				<div class="content">
					<header>
					<div class="head-inner">
						<h1>{{ page.title }}</h1>
					</div>
					</header>
					<div class="bd">
					<p><img class="huge" alt="Comments on the Internet Suck!" src="/img/comment-suck.png"></p>
					<p>
						コメントシステムはいまいち。githubのデザイナ、<a href="http://warpspire.com/ask/">Kyle Neathの言う通りに。</a>
						<br>顔写真はないけれど(写真を撮られるのがキライ)、このブログは本名を公開して更新をすることにした。コメントも同じように、匿名性をなくしたい。<br>
						どんなコメントでも、少なくともデフォルトでは、公開されることもない代わりに、私とコメントをいただくあなた。2人の間のコミュニケーションにできる。<br>
						もし、コメントがより多くの人に見てもらうべくコメントであれば、公開します。<br>
						記事のリクエストなどもこちらから。リクエストについては、<a href="http://twitter.com/cssradar" rel="me">Twitterでも受け付けてます。</a>
					</p>
					<p><a class="askme" href="mailto:cssradar+ask@gmail.com">質問やコメントはEメールにて cssradar+ask@gmail.com</a></p>
					</div>
				</div>
			</div>
			</article>
		</div><!-- id="main" -->
		{% include footer.html %}
	</div><!-- id="page" -->
	{% include system_foot.html %}
</body>
</html>
