// Defaults which you can freely override
column-width = 60px
gutter-width = 20px
columns = 12

// Utility variable — you should never need to modify this
_gridsystem-width = (column-width + gutter-width) * columns

// Set @total-width to 100% for a fluid layout
total-width = _gridsystem-width

column(x, columns = columns)
	width total-width * ((((gutter-width + column-width ) * x) - gutter-width) / _gridsystem-width)
