{% include system/sys_header.html %}
<div id="page" class="page page-{{ page.layout }}">
{% include module/header.html %}

<div role="main" class="body">
<div class="unit">
	<div class="unit-inner">
	{{ content }}
	</div><!-- unit-inner -->
</div><!-- unit -->
<div class="unit">
	<div class="unit-inner">
		<hr>
		{% include module/recent.html %}
	</div><!-- unit-inner -->
</div><!-- unit -->

</div><!-- body -->

{% include module/footer.html %}
</div><!-- #page -->
{% include system/sys_footer.html %}
